@media(max-width:768px){
    .user_interaction{
        position: fixed;
        background: #fff;
        bottom: 0;
        right: 0;
        width: 100%;
        z-index: 9;
        padding: 10px 15px;
        box-shadow: 0px 0px 10px #3333336b;
        border-radius: 12px;
        .flex_center{
            transition: .4s all;
            &:hover{
                transform: translateY(-5px);
                box-shadow: -1px 25px 13px -5px #414e67b5;
            }
            }
            .dropdown{
                .user_profile{
                    display: inline;
                }
                span.name,img.imoji{
                    display: none;
                }
            }
    }
    #header {
        .navbar{
            position: fixed;
            height: 100%;
            width: 200px;
            top: 0;
            right: 0;
            background: #fff;
            z-index: 9;
            justify-content: start;
            align-items: self-start;
            box-shadow: 0px 0px 10px 10px #33333329;
            transform: translateX(100%);
            transition: .3s all;
            &.active{
                transform: translateX(0%);
            }
        }
        .toggle_bar{
            display: block;
        }
        .logo {
            width: 80px;
            height: 100px;
        }
    }
    h4{
        font-size: 1.1rem;
    }
    .h5, h5 {
        font-size: 1rem;
    }
    .h6, h6 {
        font-size: .75rem;
    }
    .single_card .card_image {
        height: 80px;
    }
    .lazy{
        margin-top: 40px;
    }
    .profile_handle{
        flex-direction: column;
        justify-content: center !important;
        align-items: center;
        a{
            width: 100% !important;
            margin-bottom: 10px !important;
        }
        button{
            width:100% !important;
        }
    }
    .video-preview{
        width: 100% !important;
    }
}
@media(max-width:540px){
    body, #homeIntro .intro_btns a{
        font-size: 10px !important;
    }
    .single_card{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 35px 0;    
        .card_details{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 11px;
        }
    }
    .single_card .abs_time{
        top: 9px;
    }
}